/* // variables */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --card-size: 240px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--sm);
}

.mobile-menu ul {
    padding: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:first-child {
    border-bottom: 1px solid var(--very-light-pink);
}


.mobile-menu ul:nth-child(3){
    margin-top: 50px;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.mobile-menu .email {
    font-weight: 300;
}

.mobile-menu li .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green)
}